@import "global.scss";
@import "variables.scss";

body {
	background-color: $bg-color;

	#root {
		width: 100%;
		display: flex;
		min-height: 100vh;

		.main {
			margin-left: 250px;
			flex-grow: 1;
			padding: 0 50px;
		}
	}
}
